*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(30, 30, 45);
}

.nav{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: rgba(109, 109, 140, 0.5);
    border-radius: 20px;
    cursor: pointer;
    transition: 0.7s;
    transition-delay: 0.8s;
}

.nav.active{
    width: 200px;
    height: 200px;
}

.nav span{
    position: absolute;
    width: 5px;
    height: 5px;
    background: #fff;
    border-radius: 50%;
    transform: translate(calc(10px * var(--x)), calc(10px * var(--y)));
    transition: transform 0.7s, width 0.5s, height 0.5s, backgound 0.5s;
    transition-delay: calc(0.1s * var(--i));
}

.nav.active span{
    transform: translate(calc(60px * var(--x)), calc(60px * var(--y)));
    background-color: rgb(160, 160, 220);
    width: 45px;
    height: 45px;
}

