/* declaration color */
:root{
    --clr-shadow: #fcf00a;

}

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(30, 30, 45);
}

.nav{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: rgba(109, 109, 140, 0.5);
    border-radius: 20px;
    cursor: pointer;
    transition: 0.6s;
    transition-delay: 0.8s;
}

.nav.active{
    width: 200px;
    height: 200px;
}

.nav a{
    position: absolute;
    width: 5px;
    height: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 50%;
    transform: translate(calc(10px * var(--x)), calc(10px * var(--y)));
    transition: transform 0.6s, width 0.5s, height 0.5s, backgound 0.5s;
    transition-delay: calc(0.1s * var(--i));
}

.nav.active a{
    transform: translate(calc(60px * var(--x)), calc(60px * var(--y)));
    background-color: rgb(120, 120, 220);
    width: 50px;
    height: 50px;
}

.nav a ion-icon{
    transition: 0.5s;
    font-size: 0em;
}

.nav.active a ion-icon{
    font-size: 1.6rem;
    color: #fff;
}

.nav.active a:hover ion-icon{
    color: var(--clr-shadow);
    filter: drop-shadow(0 0 2px var(--clr-shadow)) drop-shadow(0 0 5px var(--clr-shadow)) drop-shadow(0 0 15px var(--clr-shadow));
}
